.list-button-notes {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 15px;
    border: none;
}

.active-notes {
    background-color: #75C3FF;
    color: #FFFFFF;
    border: 1px solid #25A0FF;
    border-radius: 8px;
}

.archieve-notes {
    background-color: #FFFFFF;
    color: #75C3FF;
    border: 1px solid #75C3FF;
    border-radius: 8px;
}

.add-new-button {
    background-color: #25A0FF;
    color: #FFFFFF;
    border: 1px solid #25A0FF;
    border-radius: 24px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.add-new-button i {
    display: flex;
    align-items: center;
    font-size: 20px;
}