.list-button-card-item {
  display: flex;
  gap: 10px;
}

.delete-button {
  background: none;
  color: #ec6161;
  border: 1px solid #ec6161;
  border-radius: 8px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ec6161;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.archive-button {
  background: none;
  color: #25a0ff;
  border: 1px solid #25a0ff;
  border-radius: 8px;
  padding: 1px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
}

.archive-button:hover {
  background-color: #25a0ff;
  color: #ffffff;
  border: 1px solid #25a0ff;
}
