.card-item-wrapper {
  padding: 16px;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 22%;
  word-wrap: break-word;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
}

.card-item-wrapper:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dates-item {
  font-weight: 100;
  font-size: x-small;
  padding-bottom: 10px;
}

.title-item {
  font-weight: bold;
  font-size: medium;
  padding-bottom: 10px;
  text-decoration: none;
}

.dec-none {
  text-decoration: none;
}

.card-item-body {
  height: 100px;
}

.card-item-body p {
  font-weight: normal;
  font-size: medium;
  letter-spacing: 1px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
