.content-wrapper {
  margin: 36px 100px;
  word-wrap: break-word;
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  min-height: 460px;
  /* box-sizing: border-box; */
}

.delete-archive-button {
  margin-bottom: 30px;
}

.line-gap {
  margin: 10px 0;
}

.dates-text {
  color: #75c3ff;
  font-weight: 100;
  font-size: small;
  padding-bottom: 10px;
}

/* responsive */

@media screen and (max-width: 568px) {
  .content-wrapper {
    margin: 36px 20px;
  }
}
