* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dark-theme {
  color: #a5c9ca;
  background-color: #2c3333;
}

.mid-dark-theme {
  color: #e7f6f2;
  background-color: #395b64;
}

.low-dark-theme {
  background-color: #a5c9ca;
}

.low-dark-text {
  color: #a5c9ca;
}

.light-theme {
  background-color: #e7f6f2;
}

.blue-bg-theme {
  background-color: #75c3ff;
}

.soft-blue-text,
.soft-blue-text::-webkit-input-placeholder {
  color: #75c3ff;
}

.dark-blue-bg-theme {
  background: #25a0ff;
}

.light-text {
  color: #e7f6f2;
}

.dark-text {
  color: #2c3333;
}

.dark-blue-text {
  color: #25a0ff;
}

.bold-text {
  font-weight: 700;
}

button {
  cursor: pointer;
}

.shadow-for-dark {
  box-shadow: rgba(155, 140, 140, 0.616) 0px 1px 3px,
    rgba(167, 133, 133, 0.24) 0px 1px 2px;
}

.shadow-for-light {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Roboto", sans-serif;
}
