.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-content {
  width: 560px;
  /* background-color: #eff8ff; */
  border-radius: 20px;
}

.modal-footer {
  padding: 20px;
  /* background-color: #aadaff; */
  border-radius: 0px 0px 20px 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-title {
  margin: 0px;
  /* color: #25a0ff; */
}

.modal-body {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.modal-body h4,
.modal-body input,
.modal-body .remaining-text {
  margin-bottom: 20px;
}

.modal-body input,
.modal-body textarea {
  box-sizing: border-box;
  border: 1px solid #aadaff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  text-indent: 16px;
  padding: 8px;
}

.modal-body input {
  border-radius: 4px;
}

.modal-body textarea {
  border-radius: 8px;
}

.modal-body input:focus,
.modal-body textarea:focus {
  border: 2px solid #aadaff;
}

.remaining-text {
  /* color: #aadaff; */
  font-size: small;
  text-align: right;
}

.red-text {
  color: red;
  font-size: small;
  text-align: right;
}

.button-cancel {
  /* background-color: #aadaff; */
  background: none;
  cursor: pointer;
}

.button-create {
  /* background-color: #25a0ff; */
  border-radius: 8px;
  cursor: pointer;
}
