nav {
  background-color: #75c3ff;
  height: 64px;
  padding: 10px 80px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 40px;
}


