nav {
  background-color: #eff8ff;
  width: 100%;
  height: fit-content;
  padding: 12px 100px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-items button {
  padding: 0px;
}

.nav-item:hover {
  border-bottom: solid 3px #75c3ff;
}

nav img {
  height: 30px;
}

nav button {
  background: none;
}

.logo {
  text-decoration: none;
  cursor: pointer;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-wrapper button {
  padding: 0;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.toggle-wrapper span {
  font-size: medium;
}

.logout-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logout-section span {
  font-size: large;
  font-weight: bold;
}

.logout-section button {
  padding: 0;
}

@media only screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 24px;
  }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    
  }
  .logo-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
