.main-content {
  margin: 24px 100px;
}

.main-content h2 {
  padding-top: 20px;
}

.active-section,
.archive-section {
  margin-bottom: 40px;
}

.active-section h2,
.archive-section h2 {
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  nav {
    display: block;
    padding: 12px 20px;
  }

  .main-content {
    margin: 24px 20px;
  }

  .flexbox {
    margin: 24px 0px;
	}

  .leftside {
    padding-bottom: 12px;
  }
}

.leftside, .rightside {
  color: rgba(255,255,255,.4);
  text-align: left;
}

@media ( min-width : 600px ){
	.flexbox {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    align-items: center;
	}
  .leftside {
    -webkit-flex: 1;
    flex: 1;
  }
  .rightside {
    -webkit-flex: 1;
    flex: 1;
    display: flex;
    justify-content: right;
  }
}
