.main-content {
  margin: 36px 100px;
}

.top-main-content {
  height: 100px;
  display: flex;
  align-items: center;
}

.active-section,
.archive-section {
  margin-bottom: 40px;
}

.active-section h2,
.archive-section h2 {
  color: #25A0FF;
  margin-bottom: 20px;
}
